header {
  height: 77.48px;
  background-color: $cor-azul-detalhes;
  position: fixed;
  width: 100%;
}

.nav__ul {
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  &__li {
    display: inline;
    margin: 0 20px;
    color: $cor-branca-padrao;
}
}

.wrapper {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
  font-family: "Metropolis Bold", sans-serif;
  font-size: 16px;
  margin: auto;
  top: 25px;

  &__logo {
      width: 80px;
  }

  &__nav__link {
      text-decoration: none;
      color: $cor-branca-padrao;

      &:hover {
          color:$cor-laranja-padrao;
          transition: .7s ease;
      }
  }
}