header {
  height: calculateRem(80px);
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $cor-branca-padrao;
  position: relative;
  font-family: "Metropolis Bold", sans-serif;
  font-size: calculateRem(16px);
  color: $cor-preta-padrao;
  padding: calculateRem(30px);
}

.navbar__list {
  display: flex;
  gap: calculateRem(50px);
}

.list__li:last-child {
  margin-right: calculateRem(80px);
}

.logo {
  width: calculateRem(80px);
  position: relative;
  left: calculateRem(80px);
}

.navbar__link, .link {
  text-decoration: none;
  color: $cor-preta-padrao;

  &:hover {
    color:$cor-laranja-padrao;
    transition: .6s ease;
  }
}

.mobile__menu {
  display: none;
  cursor: pointer;
}

.mobile__menu div {
  width: calculateRem(28px);
  height: calculateRem(2px);
  background: $cor-preta-padrao;
  margin: calculateRem(6px);
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .navbar__list {
    position: absolute;
    top: calculateRem(70px);
    width: 100%;
    height: 100vh;
    left: 0;
    background: $cor-branca-padrao;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .list__li a{
    color: $cor-laranja-padrao;
    opacity: 0;
    position: relative;
    right: 50px;
  }

  .mobile__menu {
    display: block;
  }

  .navbar__list.active {
    transform: translateX(0);
  }

  .logo {
    left: 0;
  }

  @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile__menu.active .linha1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile__menu.active .linha2 {
  opacity: 0;
}

.mobile__menu.active .linha3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
}