main {
    min-height: calculateRem(600px);
    text-align: center;
}

.corpo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: calculateRem(80px) calculateRem(30px);
}

.principal {
    width: 50%;
    padding: calculateRem(110px) 0 calculateRem(100px);
    padding-left: calculateRem(40px);
    text-align: left;

    &__sobretitulo {
        font-family: 'Metropolis Medium', sans-serif;
        font-weight: bold;
        font-size: calculateRem(16px);
        color: $cor-preta-padrao;
        margin: calculateRem(13.28px) 0;
        text-align: left;
    }

    &__titulo {
        font-family: 'Metropolis Black', sans-serif;
        margin: calculateRem(10.72px) 0;
        color: $cor-laranja-padrao;
        font-size: calculateRem(40px);
        text-align: left;
    }

    &__subtitulo {
        font-family: "Metropolis Regular", sans-serif;
        font-size: calculateRem(18px);
        line-height: calculateRem(28px);
        font-weight: bold;
        margin: calculateRem(13.28px) 0;
        text-align: left;
    }

    &__botao {
        display: inline-flex;
        background-color: #FC6027;
        font-family: "Metropolis Bold", sans-serif;
        color: $cor-branca-padrao;
        text-decoration: none;
        border: none;
        cursor: pointer;
        padding: calculateRem(15px) calculateRem(40px);
        font-size: calculateRem(16px);
        border-radius: calculateRem(8px);

        &:hover {
            background-color: $cor-laranja-padrao;
            transition: all .5s ease;
        }
    }
}

.imagem__cuidados {
    width: calculateRem(600px);
}

.container {
    background-color: $cor-azul-claro;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 calculateRem(30px);
    padding-bottom: calculateRem(50px);
}

.avisos {
    background: $cor-azul-claro;
    padding: calculateRem(60px) calculateRem(60px) calculateRem(40px) calculateRem(60px);

    &__titulo {
        font-family: 'Metropolis Medium', sans-serif;
        font-size: calculateRem(16px);
        font-weight: bold;
        margin-bottom: calculateRem(20px);
        color: $cor-preta-padrao;
    }

    &__subtitulo {
        font-family: "Metropolis Black", sans-serif;
        font-size: calculateRem(38px);
    }
}

.comunicado {
    width: 50%;
    padding: calculateRem(110px) 0 calculateRem(100px);
    padding-left: calculateRem(200px);

    &__lista {
        text-align: center;
        list-style: inside disc;
        text-align: left;
        font-family: "Metropolis Regular", sans-serif;
        font-size: calculateRem(18px);
        color: $cor-preta-padrao;
    }

    &__item {
        margin: calculateRem(10px);
    }
}

.comunicado__item a {
    text-decoration: none;
    color: $cor-preta-padrao;

    &:hover {
        color: $cor-laranja-padrao;
        transition: all .6s ease;
    }
}

.lista__titulo {
    font-family: "Metropolis Medium", sans-serif;
    font-size: calculateRem(28px);
    color: $cor-preta-padrao;
    font-weight: bold;
    margin: calculateRem(20px) 0;
    text-align: left;
}

.imagem__principal {
    width: calculateRem(600px);
}


.distanciamento {
    padding: calculateRem(30px);
    background: $cor-azul-detalhes;
    color: $cor-branca-padrao;

    &__titulo {
        font-family: "Metropolis Medium", sans-serif;
        font-size: calculateRem(16px);
        padding-top: calculateRem(32px);
        margin-bottom: calculateRem(20px);
    }

    &__subtitulo {
        font-family: "Metropolis Black", sans-serif;
        font-size: calculateRem(38px);
    }
}

.divisoria {
    background-color: $cor-azul-detalhes;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 calculateRem(40px);
    padding-bottom: calculateRem(50px);

    &__imagem {
        width: calculateRem(600px);
    }

    &__txt {
        color: $cor-branca-padrao;
        font-family: "Metropolis Regular", sans-serif;
        font-size: calculateRem(18px);
        padding: 0 calculateRem(40px);
        text-align: left;
    }
}

.mascara {
    padding: calculateRem(30px);
    background-color: $cor-branca-padrao;
    color: $cor-preta-padrao;

    &__titulo {
        font-family: "Metropolis Medium", sans-serif;
        font-size: calculateRem(16px);
        padding-top: calculateRem(32px);
        margin-bottom: calculateRem(20px);
    }

    &__subtitulo {
        font-family: "Metropolis Black", sans-serif;
        font-size: calculateRem(38px);
        margin-bottom: calculateRem(20px);
    }
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 calculateRem(40px);
    padding-bottom: calculateRem(50px);

    &__imagem {
        width: calculateRem(600px);
    }
}

.texto {
    text-align: left;
    font-family: "Metropolis Regular", sans-serif;
    padding: 0 calculateRem(40px);
    font-size: calculateRem(18px);
    color: $cor-preta-padrao;
}

.temperatura {
    padding: calculateRem(30px);
    background-color: $cor-azul-detalhes;
    color: $cor-branca-padrao;

    &__titulo {
        font-family: "Metropolis Medium", sans-serif;
        font-size: calculateRem(16px);
        padding-top: calculateRem(32px);
        margin-bottom: calculateRem(20px);
    }

    &__subtitulo {
        font-family: "Metropolis Black", sans-serif;
        font-size: calculateRem(38px);
        margin-bottom: calculateRem(20px);
    }
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 calculateRem(40px);
    padding-bottom: calculateRem(50px);

    &__imagem {
        width: calculateRem(600px);
    }
}

.paragrafo {
    text-align: left;
    font-family: "Metropolis Regular", sans-serif;
    padding-left: calculateRem(40px);
    font-size: calculateRem(18px);
    color: $cor-branca-padrao;
}

.agendamento {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: calculateRem(80px) calculateRem(30px);

    &__imagem {
        width: calculateRem(530px);
    }

    &__textos {
        width: 50%;
        padding: calculateRem(110px) 0 calculateRem(100px);
        padding: 0 calculateRem(40px);
        text-align: left;

        &__titulo {
            font-family: 'Metropolis Medium', sans-serif;
            font-weight: bold;
            font-size: calculateRem(16px);
            color: $cor-preta-padrao;
            margin: calculateRem(13.28px) 0;
        }

        &__subtitulo {
            font-family: 'Metropolis Black', sans-serif;
            margin: calculateRem(10.72px) 0;
            color: $cor-laranja-padrao;
            font-size: calculateRem(40px);
        }

        &__paragrafo {
            font-family: "Metropolis Regular", sans-serif;
            font-size: calculateRem(18px);
            line-height: calculateRem(28px);
            font-weight: bold;
            margin: calculateRem(13.28px) 0;
        }

        &__botao {
            display: inline-flex;
            margin-top: calculateRem(13.28px);
            background-color: #FC6027;
            font-family: "Metropolis Bold", sans-serif;
            color: $cor-branca-padrao;
            text-decoration: none;
            border: none;
            cursor: pointer;
            padding: calculateRem(15px) calculateRem(40px);
            font-size: calculateRem(16px);
            border-radius: calculateRem(8px);

            &:hover {
                background-color: $cor-laranja-padrao;
                transition: all .5s ease;
            }
        }
    }
}

@media (max-width: 999px) {
    .corpo {
        justify-content: flex-start;
    }

    .principal {
        width: 100%;
        padding: calculateRem(66px) 0 calculateRem(30px);
        padding-left: calculateRem(20px);

        &__titulo {
            margin: calculateRem(20.60px) 0;
        }
    }

    .imagem__cuidados {
        display: none;
    }

    .container {
        justify-content: flex-start;
    }

    .imagem__principal {
        display: none;
    }
    .comunicado {
        padding: calculateRem(66px) 0 calculateRem(30px);
        padding-left: calculateRem(20px);
        width: 100%;

        &__lista {
            font-size: calculateRem(22px);
        }
    }
    
    .divisoria {
        justify-content: flex-start;

        &__imagem {
            display: none;
        }

        &__txt {
            font-size: calculateRem(22px);
            padding: calculateRem(66px) 0 calculateRem(30px);
            padding-left: calculateRem(20px);
        }
    }

    .box {
        justify-content: flex-start;
        padding-left: calculateRem(10px);

        &__imagem {
            display: none;
        }
    }

    .texto {
        width: 100%;
        font-size: calculateRem(22px);
        padding: calculateRem(66px) 0 calculateRem(30px);
        padding-left: calculateRem(20px);
        text-align: left;
    }

    .flex {
        justify-content: flex-start;
        padding-left: calculateRem(10px);

        &__imagem {
            display: none;
        }
    }

    .paragrafo {
        font-size: calculateRem(22px);
        padding: calculateRem(66px) 0 calculateRem(30px);
        padding-left: calculateRem(20px);
    }

    .agendamento {
        justify-content: flex-start;
    
        &__imagem {
            display: none;
        }
    
        &__textos {
            font-size: calculateRem(22px);
            padding: calculateRem(66px) 0 calculateRem(30px);
            padding-left: calculateRem(20px);
            width: 100%;
        }
    }
}