.temperatura {
    padding: calculateRem(30px);
    background-color: $cor-azul-detalhes;
    color: $cor-branca-padrao;

    &__titulo {
        font-family: "Metropolis Medium", sans-serif;
        font-size: calculateRem(16px);
        padding-top: calculateRem(32px);
        margin-bottom: calculateRem(20px);
        text-transform: uppercase;
    }

    &__subtitulo {
        font-family: "Metropolis Black", sans-serif;
        font-size: calculateRem(38px);
        margin-bottom: calculateRem(20px);
    }

    &__divisoria {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 calculateRem(40px);
        padding-bottom: calculateRem(50px);
    }
}

.paragrafo {
    text-align: left;
    font-family: "Metropolis Regular", sans-serif;
    padding-left: calculateRem(40px);
    font-size: calculateRem(18px);
    color: $cor-branca-padrao;
}

@media (max-width: 999px) {  
    .temperatura__divisoria {
        justify-content: flex-start;
        padding-left: calculateRem(10px);
    }

    .paragrafo {
        font-size: calculateRem(22px);
        padding: calculateRem(66px) 0 calculateRem(30px);
        padding-left: calculateRem(20px);
    }
}