$cor-branca-padrao: #fff;
$cor-azul-detalhes: #4B4FA1;
$cor-laranja-padrao: #FE4400;
$cor-preta-padrao: #303033;

@font-face {
  font-family: "Metropolis Bold";
  src: url("./fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Regular";
  src: url("./fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Medium";
  src: url("./fonts/Metropolis-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Black";
  src: url("./fonts/Metropolis-Black.otf") format("opentype");
}

@import "_reset", "_header" ;