@font-face {
  font-family: "Metropolis Bold";
  src: url("./fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Regular";
  src: url("./fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Medium";
  src: url("./fonts/Metropolis-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Black";
  src: url("./fonts/Metropolis-Black.otf") format("opentype");
}
body {
  overflow-x: hidden;
}

.imagem {
  width: 37.5rem;
}

main {
  min-height: 37.5rem;
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
  font-family: "Metropolis Bold", sans-serif;
  font-size: 1rem;
  color: #303033;
  padding: 1.875rem;
}

.navbar__list {
  display: flex;
  gap: 3.125rem;
}

.list__li:last-child {
  margin-right: 5rem;
}

.logo {
  width: 5rem;
  position: relative;
  left: 5rem;
}

.navbar__link, .link {
  text-decoration: none;
  color: #303033;
}
.navbar__link:hover, .link:hover {
  color: #FE4400;
  transition: 0.6s ease;
}

.mobile__menu {
  display: none;
  cursor: pointer;
}

.mobile__menu div {
  width: 1.75rem;
  height: 0.125rem;
  background: #303033;
  margin: 0.375rem;
  transition: 0.3s;
}

@media (max-width: 1250px) {
  body {
    overflow-x: hidden;
  }

  .navbar__list {
    position: absolute;
    top: 4.375rem;
    width: 100%;
    height: 100vh;
    left: 0;
    gap: 20px;
    background: #fff;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .list__li a {
    color: #FE4400;
    font-size: 1.25rem;
    opacity: 0;
    position: relative;
    right: 3.125rem;
  }

  .list__li:first-child {
    margin-top: 3.125rem;
  }

  .list__li:last-child {
    margin-right: 0;
  }

  .mobile__menu {
    display: block;
  }

  .navbar__list.active {
    transform: translateX(0);
  }

  .logo {
    left: 0;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile__menu.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile__menu.active .linha2 {
    opacity: 0;
  }

  .mobile__menu.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}
.cuidados {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem 1.875rem;
}

.principal {
  width: 50%;
  padding: 6.875rem 0 6.25rem;
  padding-left: 2.5rem;
  text-align: left;
}
.principal__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #303033;
  margin: 0.83rem 0;
  text-align: left;
  text-transform: uppercase;
}
.principal__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  margin: 0.67rem 0;
  color: #FE4400;
  font-size: 2.5rem;
  text-align: left;
}
.principal__texto {
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 0.83rem 0;
  text-align: left;
}
.principal__botao {
  display: inline-flex;
  background-color: #FC6027;
  font-family: "Metropolis Bold", sans-serif;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0.9375rem 2.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.principal__botao:hover {
  background-color: #FE4400;
  transition: all 0.5s ease;
}

@media (max-width: 999px) {
  .cuidados {
    justify-content: flex-start;
  }

  .principal {
    width: 100%;
    padding: 4.125rem 0 1.875rem;
    padding-left: 1.25rem;
  }
  .principal__titulo {
    margin: 1.2875rem 0;
  }

  .imagem {
    display: none;
  }
}
.avisos {
  background: #F3F4F9;
  padding: 3.75rem 3.75rem 2.5rem 3.75rem;
}
.avisos__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #303033;
  text-transform: uppercase;
}
.avisos__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
}

.reabertura {
  background-color: #F3F4F9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1.875rem;
  padding-bottom: 3.125rem;
}

.comunicado {
  width: 50%;
  padding: 6.875rem 0 6.25rem;
  padding-left: 12.5rem;
}
.comunicado__lista {
  text-align: center;
  list-style: inside disc;
  text-align: left;
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  color: #303033;
}
.comunicado__item {
  margin: 0.625rem;
}

.comunicado__item a {
  text-decoration: none;
  color: #303033;
}
.comunicado__item a:hover {
  color: #FE4400;
  transition: all 0.6s ease;
}

.lista__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1.75rem;
  color: #303033;
  font-weight: bold;
  margin: 1.25rem 0;
  text-align: left;
}

@media (max-width: 999px) {
  .comunicado {
    padding: 4.125rem 0 1.875rem;
    padding-left: 1.25rem;
    width: 100%;
  }
  .comunicado__lista {
    font-size: 1.375rem;
  }
}
.distanciamento {
  padding: 1.875rem;
  background: #4B4FA1;
  color: #fff;
}
.distanciamento__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.distanciamento__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
}

.container {
  background-color: #4B4FA1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2.5rem;
  padding-bottom: 3.125rem;
}
.container__texto {
  color: #fff;
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  padding: 0 2.5rem;
  text-align: left;
}

@media (max-width: 999px) {
  .container {
    justify-content: flex-start;
  }
  .container__texto {
    font-size: 1.375rem;
    padding: 4.125rem 0 1.875rem;
    padding-left: 1.25rem;
  }
}
.mascara {
  padding: 1.875rem;
  background-color: #fff;
  color: #303033;
}
.mascara__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.mascara__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
  margin-bottom: 1.25rem;
}
.mascara__divisoria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2.5rem;
  padding-bottom: 3.125rem;
}

.texto {
  text-align: left;
  font-family: "Metropolis Regular", sans-serif;
  padding: 0 2.5rem;
  font-size: 1.125rem;
  color: #303033;
}

@media (max-width: 999px) {
  .mascara__divisoria {
    justify-content: flex-start;
    padding-left: 0.625rem;
  }

  .texto {
    width: 100%;
    font-size: 1.375rem;
    padding: 4.125rem 0 1.875rem;
    padding-left: 1.25rem;
    text-align: left;
  }
}
.temperatura {
  padding: 1.875rem;
  background-color: #4B4FA1;
  color: #fff;
}
.temperatura__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.temperatura__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
  margin-bottom: 1.25rem;
}
.temperatura__divisoria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2.5rem;
  padding-bottom: 3.125rem;
}

.paragrafo {
  text-align: left;
  font-family: "Metropolis Regular", sans-serif;
  padding-left: 2.5rem;
  font-size: 1.125rem;
  color: #fff;
}

@media (max-width: 999px) {
  .temperatura__divisoria {
    justify-content: flex-start;
    padding-left: 0.625rem;
  }

  .paragrafo {
    font-size: 1.375rem;
    padding: 4.125rem 0 1.875rem;
    padding-left: 1.25rem;
  }
}
.agenda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.25rem 1.875rem;
  background-color: #FE4400;
  color: #fff;
}

.agendamento {
  width: 50%;
  padding: 5rem 0 6.25rem;
  padding: 0 2.5rem;
  text-align: left;
}
.agendamento__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  margin: 0.83rem 0;
  text-transform: uppercase;
}
.agendamento__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  margin: 0.67rem 0;
  color: #fff;
  font-size: 2.5rem;
}
.agendamento__paragrafo {
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 0.83rem 0;
}
.agendamento__botao {
  display: inline-flex;
  margin-top: 0.83rem;
  background-color: #4B4FA1;
  font-family: "Metropolis Bold", sans-serif;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0.9375rem 2.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.agendamento__botao:hover {
  background-color: #F3F4F9;
  color: #303033;
  transition: all 0.5s ease;
}

@media (max-width: 999px) {
  .agenda {
    justify-content: flex-start;
  }

  .agendamento {
    font-size: 1.375rem;
    padding: 4.125rem 0 1.875rem;
    padding-left: 1.25rem;
    width: 100%;
  }
}
.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: #303033;
  padding: 0.625rem;
}
.rodape__txt {
  font-family: "Metropolis Black", sans-serif;
  font-size: 1.5625rem;
  color: #fff;
}

.instagram {
  width: 32px;
}

@media (max-width: 999px) {
  .rodape {
    gap: 2rem;
  }
  .rodape__txt {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
