@font-face {
  font-family: "Metropolis Bold";
  src: url("./fonts/Metropolis-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Regular";
  src: url("./fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Medium";
  src: url("./fonts/Metropolis-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis Black";
  src: url("./fonts/Metropolis-Black.otf") format("opentype");
}
body {
  min-height: 800px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 77.48px;
  background-color: #fff;
  position: sticky;
  width: 100%;
}

.nav__ul {
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav__ul__li {
  display: inline;
  margin: 0 20px;
  color: #303033;
}

.wrapper {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
  font-family: "Metropolis Bold", sans-serif;
  font-size: 16px;
  margin: auto;
  top: 25px;
}
.wrapper__logo {
  width: 80px;
}
.wrapper__nav__link {
  text-decoration: none;
  color: #303033;
}
.wrapper__nav__link:hover {
  color: #FE4400;
  transition: 0.7s ease;
}

main {
  min-height: 37.5rem;
  text-align: center;
}

.corpo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem 1.875rem;
}

.principal {
  width: 50%;
  padding: 6.875rem 0 6.25rem;
  padding-left: 2.5rem;
}
.principal__sobretitulo {
  font-family: "Metropolis Medium", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #303033;
  margin: 0.83rem 0;
  text-align: left;
}
.principal__titulo {
  font-family: "Metropolis Black", sans-serif;
  margin: 0.67rem 0;
  color: #FE4400;
  font-size: 2.5rem;
  text-align: left;
}
.principal__subtitulo {
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin: 0.83rem 0;
  text-align: left;
}
.principal__botao {
  display: inline-flex;
  background-color: #FC6027;
  font-family: "Metropolis Bold", sans-serif;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0.9375rem 2.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.principal__botao:hover {
  background-color: #FE4400;
  transition: all 0.5s ease;
}

.imagem__cuidados {
  width: 34.375rem;
  overflow: hidden;
  text-align: right;
}

.container {
  background-color: #F3F4F9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1.875rem;
  padding-bottom: 3.125rem;
}

.avisos {
  background: #F3F4F9;
  padding: 3.75rem 3.75rem 2.5rem 3.75rem;
}
.avisos__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #303033;
}
.avisos__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
}

.comunicado {
  width: 50%;
  padding: 6.875rem 0 6.25rem;
  padding-left: 12.5rem;
}
.comunicado__lista {
  text-align: center;
  list-style: inside disc;
  text-align: left;
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  color: #303033;
}
.comunicado__item {
  margin: 0.625rem;
}

.lista__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1.75rem;
  color: #303033;
  font-weight: bold;
  margin: 1.25rem 0;
  text-align: left;
}

.imagem img {
  width: 31.25rem;
}

.distanciamento {
  padding: 1.875rem;
  background: #303033;
  color: #fff;
}
.distanciamento__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
}
.distanciamento__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
}

.divisoria {
  background-color: #303033;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2.5rem;
  padding-bottom: 3.125rem;
}
.divisoria__imagem {
  width: 31.25rem;
}
.divisoria__txt {
  color: #fff;
  font-family: "Metropolis Regular", sans-serif;
  font-size: 1.125rem;
  padding-left: 2.5rem;
  text-align: left;
}

.mascara {
  padding: 1.875rem;
  background-color: #fff;
  color: #303033;
}
.mascara__titulo {
  font-family: "Metropolis Medium", sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
}
.mascara__subtitulo {
  font-family: "Metropolis Black", sans-serif;
  font-size: 2.375rem;
  margin-bottom: 1.25rem;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2.5rem;
  padding-bottom: 3.125rem;
}
.flex__imagem {
  width: 33.125rem;
}

.textos {
  text-align: left;
  font-family: "Metropolis Regular", sans-serif;
  padding-left: 2.5rem;
  font-size: 1.125rem;
  color: #303033;
}

/*# sourceMappingURL=style.css.map */
